.header{
	text-align: left;
	margin-top: 10px;
	width: 100%;
	height: 197px;
	background-color: white;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	.banner{
		text-align: center;
		width: 100%;
		height: 129px;
		.welcome{
			padding-top: 60px;
			float: left;
			width: 40%;
			text-align: right;
		}
		.gambar{
			float: left;
			width: 20%;
		}
	}
}
.menu{
	width: 90%;
	margin-right: 5%;
	margin-left: 5%;
	.kiri{
		float: left;
		width: 50%;
		text-align: left;
		li{
			list-style: none;
			display: inline;
			margin-right: 5px;
			/*css for dropdown script*/
			.dropdown-script{
				position: relative;
				display: inline-block;
				a{
					&:hover{
						background-color: #ededed;
						color: black;
						cursor: pointer;
					}
				}
			}
			.dropdown-content-script{
				display: none;
				position: absolute;
				background-color: #e5e5e5;
				min-width: 150px;
				overflow: auto;
				border-radius: 5px;
				box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
				a{
					color: black;
				    padding: 12px 16px;
				    text-decoration: none;
				    display: block;
				}
			}
			.show{
				display: block;
			}
			/*end*/
		}
		.button {
		    background-color: #e5e5e5;
		    padding: 11px 20px;
			border-radius: 3px;
			box-shadow: 0 1px 1px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
		    cursor: pointer;
		    border: none;

		}
		.dropdown {
		    position: relative;
		    display: inline-block;
		    &:hover .dropdown-content{
		    	display: block;
		    }
		    &:hover .button{
		    	color: lighten(black, 10%);
				text-decoration: none;
				background-color: #ededed;
		    }
		}
		.dropdown-content {
			border-radius: 3px;
		    display: none;
		    position: absolute;
		    background-color: #f9f9f9;
		    min-width: 160px;
		    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		    a{
		    	color: black;
			    padding: 10px 20px;
			    text-decoration: none;
			    display: block;
			    &:hover{
			    	background-color: #e5e5e5;
			    }
		    }
		}
	}
	.kanan{
		float: right;
		width: 50%;
		text-align: right;
		li{
			display: inline-block;
			background-color: #e5e5e5;
			margin-right: 5px;
			display: inline-block;
			cursor: pointer;
			padding: 10px 20px;
			border-radius: 3px;
			box-shadow: 0 1px 1px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
			&:hover {
				color: lighten(black, 10%);
				text-decoration: none;
				background-color: #ededed;
			}
		}
	}
}