body {
	margin: 0 0 0 0;
	width: 100%;
	background-color: #e9eaee !important;
	text-align: center;
}
.hidden{
	display: none;
}
.isi{
	/* sesuaikan untuk bootstrap */
	margin: 2%;
	/*---------------------------*/
	padding: 20px 2%;
	text-align: left;
	width: 96%;
	border-radius: 5px;
	background-color: white;
	border: 1px solid #e1e8ed;
	overflow: auto;
}
.login{	
	text-align: center;
	.form-login{
		width: 25%;
		display: inline-block;
	}
}
@import 'header';
@import 'footer';